{{!-- <main class="p-5">
<div class="card p-5">
    <p>
        hello!
    </p>
    <span>
        hijghvbsdfggv hjbnkdjfxil 
    </span>
      <h3>
        hjjjeei
    </h3>
    <h4>
        mOhnOP
    </h4>
    <h5>
            mm	Ohn	OP
    </h5>
</div>
<pre>
gghj xdsgsdfcgh
</pre> --}}
{{!-- <body>


<main>
<div class="row gy-2 m-2 p-2">


<section class='card ' style="width: 33.33%">
  <div class='card-header'><p>Завдання 1</p></div>
  <div class='card-body'>
    <div class='fox'>
      <button class="btn">Натисніть мене</button>
    </div>
  </div>
</section>

<section class='card' style="width: 33.33%">
  <div class='card-header'><p>Завдання 1</p></div>
  <div class='card-body'>
    <div class='lesson-four-task-one'>
      <button class="btn">Натисніть мене</button>
    </div>
  </div>
</section>

 
<section class='card' style="width: 33.33%">
     <div class='card-header'><p>
    111117 &shy; t85711111111 4667111 525khbaegrfsirhg kj
    uhnkl kjhbkhbkj 
    ihbgjk jhjkuyhbi  iuhikiiyi o
    o iljdnrhiudhnrgkjldhijrgndeurhigs
    jebriehdi
    rejng9pw83yut9posx</p></div>
  <div class='card-body'>
    <div class='lesson-four-task-one'>
      <button class="btn">Натисніть мене</button>
    </div>
  </div>
</section>
<hr>
<br>
<br>
<br>

<div class="flex_container">
  <section class="card_done">
         <div class='card-header'>
  <h1>my music</h1>
      </div>
  <div class='card-body_7'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>
  <section class="card_done">
         <div class='card-header'>
  <h1>my music</h1>
      </div>
  <div class='card-body_7'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>

<br>
<div class="fex_container">
  <section class="card_don">
         <div class='card-header'>
  <h1>my music</h1>
      </div>
  <div class='card-body_7'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>
  <section class="card_don">
         <div class='card-header'>
  <h1>my music</h1>
      </div>
  <div class='card-body_7'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>


  <section class="card_don">
         <div class='card-header'>
  <h1>my music</h1>
      </div>
  <div class='card-body_7'>
  
      <p>Rock</p>
      <p> dead country</p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>



  <section class="card_don">
         <div class='card-header'>
  <h1>my music</h1>
      </div>
  <div class='card-body_7'>
  <div>
      <p>Rock</p>
      <p> dead country</p>
<p> black country</p>
<p> Grange</p>
</div>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>
</div>
<br>
<br>
  <div><section class="card_d">
       
  <div class='card-body_g'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section></div>
  <br>
  <br>
  <section class="card_du">
       
  <div class='card-body_gu'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>
  
    <section class="card_du">
       
  <div class='card-body_gu'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>
   <section class="card_du">
       
  <div class='card-body_gu'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>
   <section class="card_du">
       
  <div class='card-body_g'>
      <p>Rock</p>
      <p> dead country </p>
<p> black country</p>
<p> Grange</p>
      <button class="btn">Натисніть мене</button>
    </div>
  </section>


<div class="fix">
    <ul> <li>sedrfgthjkl;</li>
      <li>rtyuio e5rtyuio 5768790io 568t798y0u9i r6t7yu8</li>
       <li>sedrfgthjkl;ytfguhijokpl rtyuiop rtyuio e5rtyuio </li>
        <li>5768790io 568t798y0u9i r6t7yu8</li>
      </ul>
      </div>
<div class="page_block">
  <div class="calc">
  <table class="table">
    <caption>My table</caption>
    <tbody>
      <tr>
        <td>kjbdxflk</td>
        <td>kjbdxflk</td>
        <td></td>
      </tr>
       <tr>
        <td>kjbdxflk</td>
        <td>kjbdxflk</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>

</div>


  <div class="calcu">
  <table class="table">
    <caption>My table</caption>
    <tbody>
      <tr>
        <td>kjbdxflk</td>
        <td>kjbdxflk</td>
        <td></td>
      </tr>
       <tr>
        <td>kjbdxflk</td>
        <td>kjbdxflk</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>




</div>
</main>
</body>
<div class="nox" style="width: 960px; height: 74px; padding: 25px; background: white; border-bottom: 1px #DEE2E6 solid; justify-content: space-between; align-items: center; display: inline-flex">
  <div style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
    <div style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
      <div style="width: 24px; height: 24px; position: relative">
        <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #563D7C">
            </div>
        <div style="width: 11.59px; height: 14px; left: 6.52px; top: 5.22px; position: absolute; background: white"></div>
      </div>
    </div>
  </div>
  <div style="justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
    <div style="color: #343A40; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Features</div>
    <div style="color: #343A40; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Enterprise</div>
    <div style="color: #343A40; font-size: 15px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Support</div>
  </div>
</div>
<div style="width: 960px; height: 168px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
  <h1>Quickly build .</h1>
 <h2>Quickly build .</h2>
</div>
<div style="width: 960px; height: 349px; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="flex: 1 1 0; align-self: stretch; padding-top: 1px; padding-left: 1px; padding-right: 1px; background: white; border-radius: 4px; border: 1px rgba(0, 0, 0, 0.12) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: rgba(0, 0, 0, 0.03); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom: 1px rgba(0, 0, 0, 0.12) solid; justify-content: center; align-items: flex-start; display: inline-flex">
      <div style="text-align: center; color: #212529; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 28.80px; word-wrap: break-word">Free</div>
    </div>
    <div style="align-self: stretch; height: 295px; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
      <div style="align-self: stretch; padding-left: 69px; padding-right: 69px; justify-content: center; align-items: center; gap: 6px; display: inline-flex">
        <div style="text-align: center; color: #212529; font-size: 40px; font-family: Roboto; font-weight: 500; word-wrap: break-word">$0 </div>
        <div style="text-align: center; color: #6C757D; font-size: 29px; font-family: Roboto; font-weight: 400; word-wrap: break-word">/ mo</div>
      </div>
      <div class="fox" style="align-self: stretch; height: 111px; padding-left: 55px; padding-right: 55px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
    <ul> <li>sedrfgthjkl;</li>
      <li>rtyuio e5rtyuio 5768790io 568t798y0u9i r6t7yu8</li>
       <li>sedrfgthjkl;ytfguhijokpl rtyuiop rtyuio e5rtyuio </li>
        <li>5768790io 568t798y0u9i r6t7yu8</li>
      </ul>
      </div>
      <div style="align-self: stretch; padding-top: 9px; padding-bottom: 9px; padding-left: 55.63px; padding-right: 55.37px; border-radius: 4.80px; border: 1px #007BFF solid; justify-content: center; align-items: flex-start; display: inline-flex">
        <div style="text-align: center; color: #007BFF; font-size: 20px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Sign up for free</div>
      </div>
    </div>
  </div>
  <div style="flex: 1 1 0; align-self: stretch; padding-top: 1px; padding-left: 1px; padding-right: 1px; background: white; border-radius: 4px; border: 1px rgba(0, 0, 0, 0.12) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: rgba(0, 0, 0, 0.03); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom: 1px rgba(0, 0, 0, 0.12) solid; justify-content: center; align-items: flex-start; display: inline-flex">
      <div style="text-align: center; color: #212529; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 28.80px; word-wrap: break-word">Pro</div>
    </div>
    <div style="align-self: stretch; height: 294px; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
      <div style="align-self: stretch; padding-left: 69px; padding-right: 69px; justify-content: center; align-items: center; gap: 6px; display: inline-flex">
        <div style="text-align: center; color: #212529; font-size: 40px; font-family: Roboto; font-weight: 500; word-wrap: break-word">$15 </div>
        <div style="text-align: center; color: #6C757D; font-size: 29px; font-family: Roboto; font-weight: 400; word-wrap: break-word">/ mo</div>
      </div>
      <div class="nox" style="align-self: stretch; height: 111px; padding-left: 55px; padding-right: 55px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
<p>nthhguh nthhguhj;lkjislurhgl;sknop nthhguhj;lkjislurhgl;sknop nthhguhj;lkjislurhgl;sknop nthhguhj;lkjislurhgl;sknopj;lkjislurhgl;sknop</p>
      </div>
      <div style="padding-top: 9px; padding-bottom: 9px; padding-left: 76.53px; padding-right: 76.47px; background: #007BFF; border-radius: 4.80px; border: 1px #007BFF solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 19px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Get started</div>
      </div>
    </div>
  </div>
  <div style="flex: 1 1 0; align-self: stretch; padding-top: 1px; padding-left: 1px; padding-right: 1px; background: white; border-radius: 4px; border: 1px rgba(0, 0, 0, 0.12) solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div style="align-self: stretch; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: rgba(0, 0, 0, 0.03); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom: 1px rgba(0, 0, 0, 0.12) solid; justify-content: center; align-items: flex-start; display: inline-flex">
      <div style="text-align: center; color: #212529; font-size: 24px; font-family: Roboto; font-weight: 400; line-height: 28.80px; word-wrap: break-word">Enterprise</div>
    </div>
    <div style="align-self: stretch; height: 295px; padding: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
      <div style="align-self: stretch; padding-left: 69px; padding-right: 69px; justify-content: center; align-items: center; gap: 6px; display: inline-flex">
        <div style="text-align: center; color: #212529; font-size: 40px; font-family: Roboto; font-weight: 500; word-wrap: break-word">$30 </div>
        <div style="text-align: center; color: #6C757D; font-size: 29px; font-family: Roboto; font-weight: 400; word-wrap: break-word">/ mo</div>
      </div>
      <div class="point" >
   <p>Свойство CSS flex-wrap задаёт правила вывода flex-элементов — в одну строку или в несколько, с переносом блоков. Если перенос разрешён, то возможно задать направление, в котором выводятся блоки</p> 
      </div>
      <div style="padding-top: 9px; padding-bottom: 9px; padding-left: 77.19px; padding-right: 78.81px; background: #007BFF; border-radius: 4.80px; border: 1px #007BFF solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 19px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Contact us</div>
      </div>
    </div>
  </div>
</div>
<div style="width: 960px; height: 188px; padding-top: 24px; padding-bottom: 24px; border-top: 1px #DEE2E6 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
  <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="width: 24px; height: 24px; justify-content: center; align-items: center; display: inline-flex">
        <div style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 24px; height: 24px; position: relative">
            <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; background: #563D7C"></div>
            <div style="width: 11.59px; height: 14px; left: 6.52px; top: 5.22px; position: absolute; background: white"></div>
          </div>
        </div>
      </div>
        <article>Stuff for developers</article>
  
    </div>
    <div style="padding-top: 1px; padding-bottom: 1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 22px; color: #212529; font-size: 20px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Features</div>
      <div  class="go" style="align-self: stretch; height: 104px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
        <div style="width: 67.50px; height: 17px; color: #6C757D; font-size: 15px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Cool stuff</div>
        <div style="width: 114.93px; height: 17px; color: #6C757D; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Random feature</div>
        <div style="width: 93.59px; height: 17px; color: #6C757D; font-size: 15px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Team feature</div>
        <article>Stuff for developers</article>
     
      </div>
    </div>
    <div style="padding-top: 1px; padding-bottom: 1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 22px; color: #212529; font-size: 20px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Resources</div>
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
        <ul>
        <li style="width: 68.68px; height: 17px; color: #6C757D; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Resource</div>
        <li style="width: 113.15px; height: 17px; color: #6C757D; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Resource name</div>
        <li style="width: 122.93px; height: 17px; color: #6C757D; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Another resource</div>
        <li style="width: 101.58px; height: 17px; color: #6C757D; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Final resource</div>
     </ul>
      </div>
    </div>
    <div style="padding-top: 1px; padding-bottom: 1px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
      <div style="align-self: stretch; height: 22px; color: #212529; font-size: 20px; font-family: Roboto; font-weight: 500; word-wrap: break-word">About</div>
      <div style="align-self: stretch; height: 104px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
        <div style="width: 67.50px; height: 17px; color: #6C757D; font-size: 15px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Team</div>
        <div style="width: 114.93px; height: 17px; color: #6C757D; font-size: 16px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Locations</div>
        <div style="width: 93.59px; height: 17px; color: #6C757D; font-size: 15px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Privacy</div>
        <div style="width: 138.65px; height: 17px; color: #6C757D; font-size: 15px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Terms</div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="lorem">
  <div class= "slider">
<div class="slider_left">{{left}}</div>
  </div>
  <img class="img" src="https://picsum.photos/200/300">
    <div class= "slider">
<div class="slider_right">{{right}}</div>
  </div>
</div>
 --}}
