<header class="header">
  {{> header}}
</header>
<div class="hero">
  {{#with hero}}
  {{> hero title=title text=description}}
  <a class="button" href="{{button.url}}">{{button.text}}</a>
  {{/with}}
</div>
<article>
  {{#with about}}
  <h1>{{heading}}</h1>
  <p>{{info}}</p>
  {{/with}}
</article>

<main class="main">
  <div class="articles">
    <h1>Our Articles</h1>
    <button>View All</button>
  </div>
  <div class="loremm">
    {{> articles list=articles}}
  </div>
</main>

<footer class="footer">
  {{> footer}}
</footer>