/* .card > p{
    color:aqua;
    font-size: xx-large;
}
.card > span{
    color: rgb(192, 98, 98);
    font-family:monospace;
    font-size: 15px;
    font-weight:700;
   

}
h3 {
    color: rgba(97, 57, 72, 0.685);
    background-color: blue;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke: 0.5px rgb(238, 185, 10);
    direction: rtl;
    text-decoration: underline wavy 1px gold;
    font-family: cursive;
    font-weight: lighter;
}

h4{
    color: initial;
    -webkit-text-fill-color: initial;
    -webkit-text-stroke: initial;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-family: 'Shantell Sans', cursive;
}
pre {
    tab-size: 4;
}
*{
    font-family: 'Jost', sans-serif;
    font-display: swap;
} */
.card {
    border: 1px solid red;
    
}
.card:hover {
        outline: 2px solid green;
    outline-offset: 5px;
    border-radius: 15px 50px 0px;
    box-shadow: 20px 20px 10px rgba(255, 255, 0, 0.411);
}
 
.nox{
  border: 15px solid transparent;
    background-image: url("/img/test.png");
    background-position: 100%;
    background-size: cover;
    background-origin: border-box;
    background-origin: padding-box;
    padding: 10px;
}
h1{
    text-shadow: 2px 2px 2px gold;
   
}
h2{ line-height: 10px;
vertical-align:20px;}
.card:nth-child(2){
    background-color: brown;
    
}
.fox{
    border-image-source: url("/img/test3.jpg");
    border-image-width: 10% 20%;
    border-image-slice: 10% 20%;
    /* border-image-repeat:repeat; */
    border-image-outset: 50px;
    list-style-type: disc;

}
li{

    list-style-type: square;
    list-style-position: outside;
    list-style-image: linear-gradient(green, yellow);

}
p{
       
  max-width: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    overflow-wrap:normal;
    word-wrap:normal;
    hyphens: manual;
word-spacing: 20px;
}

.btn{
    overflow: auto;
    resize: both;
}
body{
 background: #fff;
}
.card-header{    background-image: url("/img/test.png");
    background-repeat: repeat-y;
   
}
.card-body{
    background-image: url("/img/test2.jpg");
    background-attachment: fixed;
    }
.point{
    width: 300px;
    height: 300px;
    background-image: url("/img/test2.jpg");
    background-attachment: local;
    overflow: auto;
    
}
/* &shy - переніс слова на новий рядок */

 table tr td{
    border: 2px solid darkblue;
    border-bottom-color: red;
    border-right-color: aquamarine;
}
.table{
    table-layout: fixed;
    width: 300px;
    border-collapse: unset;
    border-spacing: 20px ;
    caption-side:top;
    empty-cells: hide;
    cursor:auto;
    opacity: 0.5;
}
li::before{
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: red;

}
li:hover{
    opacity: 0.5;
}
.calc{
    width: 600px;
    margin-right: calc(100 - 600px);
}
.calcu{
    width: 500px;
    margin-left: calc(50% - (500px / 2));
}
.flex_container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap ;
   /* justify-content: stretch; */
   justify-content: center; 
   align-content: space-between; 
   /* align-items: stretch; */
 height: 800px;
  border: 1px solid green;
  align-items: flex-start ;

}
.card_done{
    border:2px solid fuchsia;
    margin: 15px;
background-color: coral;
width: 400px;

}
.card_done:first-of-type{ 
     align-self: flex-end; 
     height: 200px;
}
.card_done:last-of-type{
   align-self: center; 
    height: 300px;
}  */

.fex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    /* justify-content: stretch; */
    justify-content: center; 
    align-content: space-between;
    /* align-items: stretch; */
 
   border: 1px solid green;
  
 
 }
 .card_don{
     border:2px solid fuchsia;
     
 background-color: rgb(80, 220, 255);
 width: 50%;
 
 }
 .card_d{
background-color: darksalmon;
border-radius: 10px;
padding: 80px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
 }
 .card_d button{
    background-color: black;
    color: azure;
 }
 .card_du{
    background-color: rgb(141, 41, 7);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
  
    text-align: center;
 
    gap:24px;
     }
 
     .card-body_gu{
        flex-basis: 20px;
        flex-grow: 1;
        gap:24px;
    
     }
     .card-body_gu:first-of-type{
        flex-grow: 4;}
        
 .slider{
   
    background: var(--color-primary);
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: var(--border-radius);
    color: var(--color-white);
 }
