:root {
  max-width: 1920px;
  font-family: Arial, Helvetica, sans-serif;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;
  --size-xs: 4px;
  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;
  --size-b: 24px;
--border-image:  4px solid #000;
  --color-border: 1px solid #dee2e6;
  --color-border-l: 1px solid #D3DEE9;
  --color-border-r: 1px solid #E4EAF2;
  --bg_color-primary: rgb(18, 130, 235);
  --color-white: #fff;
  }

/*========================*/
body {
  
  display: flex;
  
  background-color:#000;
  width: 1920px;
  height: 5432px;
 
 
}
.page_content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  
 
}

/*========================*/

.header_logo {
  width: 184.47px;
  height: 62px;
  flex-shrink: 0;
padding-top: 25px;
padding-left: 127px;
padding-bottom: 19px;
position: relative;

}
header{
  max-width: 1920px;
 
}
.header_img{
  width: 1920px;
  height: 894px;
position: relative;
}
.img_3{
  position: absolute;
right: 235px;
top: 48px;
bottom: 48px;
  width: 776px;
height: 798px;
flex-shrink: 0;
}
.text{
  position: absolute;
  top: 341px;
  left: 219px;
}
.kniga{
  color: var(--color-white);

font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 136.5%; /* 27.3px */
letter-spacing: 1.6px;
text-transform: uppercase;
padding-bottom: 39px;
}
.miym{
  color: var(--color-white);

font-family: UAF Sans;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 89%;
padding-bottom: 20px;
}
.name{
  color: var(--color-white);

font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 136.5%;
padding-bottom: 63px;


}
.text_button{
  width: 308px;
  height: 58px;
  flex-shrink: 0;
padding: 14px 20px;
justify-content: center;
align-items: center;
color:antiquewhite;
font-size: var(--size-l);
border-radius: 18px;
border: 2px solid #DB641A;

background: linear-gradient(180deg, #F67E32 19.51%, #742E02 99.16%);

}
.about{
margin-top: 234px;
margin-left: 152px;
display: flex;
padding: 4px;
position: relative;

}
.about_toptop{
 
  margin-left: 0;
  position: absolute;
  left: 152px;
  justify-content: center;
  z-index: 1;

}
.about_a{
display: flex;
}
.img_collage{
  width: 775px;
  height: 561px;
  flex-shrink: 0;
  position: absolute;
  top:150px;
  gap: 81px
}
.about_right{
  position: absolute;
  top: 20px;
  left:363px;
z-index: 2;

}
.about_top{
  position: relative;
  left:120px;
  top:45px;
  border: 4px solid #000;
  z-index: 3;
}
.about_left{
  position: absolute;
  left:0;
  top:104px;
  border: 4px solid #000;
  z-index: 4;
}
.about_bottom{
  position: absolute;
  left:52px;
  top:214px;
  
}
