@import "/css/var.css";
@layer component, normalize, variant, main, adaptive;
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('/font/HelveticaNeueBold.ttf');
}
@layer component {
   
    .click {
      transition: opacity var(--transition-1);
    }
    .click:hover {
        opacity:var(--opacity-1);
        cursor: pointer;
    }
    .click:active {
        opacity: var(--opacity-2);
    }
     
        .page_section {
        display: flex;
        justify-content: center;
    }
    .icon {
        display:block;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .double_line {
        line-height: var(--line-height);
    }
    }
    @layer variant{
        .feat_icon {
           height: 48px;
           width: 48px;
       }   
       .icon_arrow {
           height: 14px;
           width: 24px;
           background-image: url('/img/svg/arrow_right.svg');
           
    }
    
    .icon_arrow--blue {
        height: var(--size-1);
           width: 25px;
        background-image: url('/img/svg/blue.svg');
  
          }
       }
body {
    font-family: "HelveticaNeueBold", sans-serif;
   
    background-color: var(--color-white);
}

@layer main {
.page {
    display: grid;
}

.page_content {
    width: 100%;
    max-width: 1200px;
    padding: var(--spacing-3);
    display: grid;
    
}

.hero {
display: flex;
   height: 100%;
     align-items: center;
     width:676px;
     margin-top: 50px;
  
}
.hero_content {
    display: grid;
    gap: var(--spacing-5);
    max-width:425px;
    color: black;
    position: relative;
  
}
.hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 55px;
    
    /* height: 60vh; */
    min-height: 600px;
}


 .button {
    text-decoration: none;
    color: var(--color-black);
    padding: var(--spacing-3);
    border-radius: var(--radius-1);
    text-align: center;
    border: 1px solid transparent;
        }
.button:hover{
    background-image:linear-gradient(
        #b367bb, white, #7d767e);
}
.brands {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: center;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
    z-index: 2;
}
.img_hero {
     position: absolute; 
     top: 0px;
     left: 580px;
     z-index: 1;
}
.hero_label {
    font-size: var(--size-1);
    text-transform: uppercase;
}
.hero_title {
    font-size: 50px;
}
.hero_info {
   font-size: var(--size-2); 
}
.hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5);
    text-decoration: none;
    
}
.brands_image:hover {
    border-bottom: 1px solid #454245;
    padding:5px;
    opacity: 0.5;
}

    .button_primary {
     color: var(--color-white);
     background-color: var(--color-primary);
    
    
    }
.page_section_light {
    background-color: var(--color-light);
   
}
    .button_secondary {
     color: var(--color-primary);
     background-color: var(--color-white);
     border-color: var(--color-primary);
     border-width: 2px;
     
    }

.features_section {
    padding-top: 150px;
    padding-bottom: 150px;
    display: grid;
    gap: var(--spacing-5);
    position: relative;
}

.features_title {
font-size: var(--size-6);
}
.features_description {
    font-size: var(--size-2);
    max-width: 520px;
    line-height: var(--line-height);
    
}
.feat_card {
    display: grid;
    padding: var(--spacing-3);
    background: #FFF;
box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
gap: var(--spacing-5);
grid-template-rows: min-content min-content 1fr min-content;
font-size: var(--size-2);

}

.feat_card:hover {
    box-shadow: 0px 0px 32px 0px rgba(202, 56, 231, 0.315);
}
.feat_link {
justify-self: flex-end;
}


.features_grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2, 1fr;
    gap: var(--spacing-3);
    z-index: 2;
}
.features_grid_4 > .feat_card:first-of-type {
    grid-row: 1 / 3;
    gap: 16px;
   
}
.features_grid_4 > .feat_card:first-of-type > .feat_link {
   margin-bottom: 25px;
}
.img_light{
    position: absolute;
    right: 0px;
    z-index: 1;
}
.rage_content {
    width: 100%;
    max-width: 1200px;
    padding: var(--spacing-3);
    margin-top: -130px;
    display: flex;
    position: relative;
    
}

.rage_section_light {
    background-color: var(--color-light);
   
}
   
.meatures_section {
    padding-bottom: 136px;
    position: relative;
   width: 1262px;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: -160px;
}
.meatures_section article{
    display: flex;
padding-top: 60px;
flex-direction: column;
align-items: flex-start;
gap: var(--spacing-3);
margin-right: var(--spacing-7);
width: 600px;
}
.img_back{
    position: absolute;
    left: 0px;
    z-index: 1;
}
.feature_back {
display: grid;
gap: 130px;
justify-items: end;
}
.meatures_title {
font-size: var(--size-6);
}
.meatures_description {
    font-size: var(--size-2);
    max-width: 520px;
    line-height: var(--line-height);
     padding-left: 0px;
}
.meat_card {
    display: grid;
    padding: var(--spacing-2);

    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
    gap: var(--spacing-2);
    grid-template-rows: min-content min-content 1fr min-content;
    font-size: var(--size-2);
    max-width: 300px;
    width:100%;

}
.meat_card:hover {
    box-shadow: 0px 0px 32px 0px rgba(202, 56, 231, 0.315);
}
.meat_card span {
padding-left: var(--spacing-3);
}
.meat_card strong {
    padding-left: var(--spacing-2);
    }
.feat_link {
    justify-self: flex-end;
  
    
}
.meatures_grid {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: var(--spacing-3);
    z-index: 2;
    height: 250px;
    position: relative;
    left: 300px;
    
}
.meatures_grid_4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2, 1fr;
    gap: var(--spacing-2);

}
.meatures_grid_4 > .meat_card {
    height: 130px;
    gap: var(--spacing-1);
}
.meatures_grid_4 > span {
    padding-bottom: var(--spacing-1);
}
.img_light{
    position: absolute;
    right: 0px;
    z-index: 1;
    
}

.nero {
    display: flex;
       height: 100%;
      margin-top: 100px;
       justify-content: center;
       align-items: center;
       align-self: stretch;
     position: relative;
    }
    
    .nero_content {
        /* display: grid;
        gap: var(--spacing-5);
        max-width:425px;
        color: black;
       justify-content: center;
       align-self: flex-end; */
    
       display: flex;
    width: 1020px;
    align-items: center;
    justify-content: center;
    align-self:center;
    gap: 38px;
    margin: 72px 450px 48px 450px;
    
    }
    .nero_section {
        display: flex;
        flex-direction: column;   
    align-items: center;
        gap: 38px;
        /* height: 60vh; */
        max-width: 1020px;
        height: 360px;
        padding-bottom: var(--spacing-9);
        
        
    }
    .content_description {
        position: absolute;
        top: 0px;
        left: 615px;
        display: flex;
            flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-5);
    width: 510px;
    margin-left: var(--size-6);
    margin-bottom: var(--spacing-9);
    }
    
     .img_nero {
         position: absolute; 
         top: 137px;
         left: 45px;
         width: 556px;
    height: 228px;
        
    }
    
    .nero_title {
    font-size:var(--spacing-4);
    font-weight: 700;
    line-height: 150%; /* 42px */
    letter-spacing: -0.3px;
    padding-right: 46px;
    }
    .nero_info {
       font-size: var(--size-2); 
    }
    .blog {
        margin-top: 200px;
    }
    .blog_cards {
       
        display: flex;
   
      flex-direction: column;
      align-items: center;
      gap: 40px;
      align-self: stretch;
      border-radius: 4px;
     
      }
   
      .blog_cards h1 {
        color: #000;
padding-top: 107px;
        text-align: center;
        font-size: var(--spacing-7);
        font-weight: 700;
        line-height: 38px; /* 118.75% */
        letter-spacing: -0.3px;
      }
      .club{
        display: flex;
        gap: 76px;
      }
      .card_club{
        display: flex;
        flex-direction: column;
        gap: var(--spacing-1);
        max-width: 285px;
height: 420px;
        width: 100%;
      align-items: flex-start;
      flex: 1 0 0;
      background: #FFF;
      box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
      }
      .card_club:hover > img { 
        opacity: 0.8;
         
         
  }
     .card_club > span, h3, p {padding: 0px 12px;}
   
     .card_club span {
        color: #454245;

font-size: var(--size-1);
font-weight: 700;
line-height: var(--size-2);
letter-spacing: 0.1px
     }
 
      .card_club h3 {
              
      font-size: var(--spacing-5);
            font-weight: 700;
      line-height: var(--size-4);
      line-height: 150%;
      }
      .card_club p {
       
        color: #1264A3;
         font-size: var(--size-1);
        font-weight: 700;
        line-height: 15.7px; 
        letter-spacing: 0.8px;
        text-transform: uppercase;
       margin-bottom: var(--size-2);
      }
      .card_club img {
        width: 285px;
height: 208px;
flex-shrink: 0;
      }
    .link_arrow {
        
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right:var(--spacing-3);
        align-self: baseline;
    } 
    .feat_link:hover {
        opacity: 0.5;
    }
}

@layer adaptive {
    @media all and (1260px <= width) {
        .page_content {
            max-width: var(--page-width-d);
        }
    }
    @media all and (1000px <= width < 1260px) {
        .page_content {
            max-width: var(--page-width-medium);
        }
    .img_hero {
        height: 300px;
        left: 518px;
    }
    .rage_content {
        max-width: var(--page-width-medium);
     }
   
     .meatures_section article{
        display: flex;
    padding-top: 60px;
    
    align-items: flex-start;
    justify-content:center;
    gap: var(--spacing-3);
    margin-right: 400px;
    width: 300px;
    }
    .img_nero {
        
        position: absolute;
        left:40px;
        top:70px;
        width:50%;
    }
        .meatures_grid {
            display: grid;
            grid-template-columns:  repeat(3, 1fr);
            gap: var(--spacing-3);
            z-index: 2;
            height: 250px;
            position: relative;
            left: 30px;
        }
        .content_description {
            position: absolute;
            top: 0px;
            left: 530px;
            display: flex;
            flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-4);
        width: 440px;
         margin-bottom: var(--spacing-7);
        }
        .blog {
            margin-top: 260px;
        }
        .club{
            display: flex;
            gap: 46px;
          }
    }
    @media all and (width < 1000px) {
        .page_content {
            max-width: var(--page-width-small);
            width: 100%;
            
        }
        .img_hero {
            display: none;
        }
          .page_section {
        
        justify-content: flex-start;
          }
        .img_hero {
           width:100%; 
            position: static;
            order: -1;
           
        }
        .img_light{
            display: none;
        }
        .hero_content {
            max-width: 100%;
        }
        .features_section{
                padding-top: 50px;
                
        }
        .features_grid_4 {
            grid-template-columns: repeat(3, 1fr);
        }
        .features_grid_4 > .feat_card:first-of-type {
            grid-row: 1 / 3;
            gap: 16px;
        }
        .rage_content {
            max-width: var(--page-width-small);
            width: 100%;
            justify-content: flex-start;
        }
        .img_nero {
        position: static;
        order: -1;  
        display: none;
        }
        .img_back{
            opacity: 0.1;
        }
        .meatures_section article{
            display: flex;
        padding-top: 60px;
        align-items: center;
        justify-content:center;
        gap: var(--spacing-3);
        margin-right: 800px;
        width: 600px;
        z-index: 2;
        }
        .rage_section_light {
            height: 600px;
        }

       .meatures_grid {
        display: flex;
        flex-wrap: wrap;
             z-index: 2;
           
            left: 50px;
            width: 100%;
           top: 210px;
            position: absolute;
        } 

        .meat_card {
            width: 250px;
        }
        
        .meatures_grid_4 {
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-3);
        }
      
        .content_description {
            position: relative;
           left: 220px;
           margin-top: 160px;
           text-align: justify;
            display: flex;
            flex-direction: column;
        align-items: center;
        gap: var(--spacing-4);
        width: 500px;
         margin-bottom: var(--spacing-8);
        }
        .blog {
            margin-top: 150px;
        }
        .blog_cards h1 {
        padding-top: 50px;
        }
        .club{
            display: flex;
            gap: 8px;
          }
          .card_club{
            display: flex;
            flex-direction: column;
            gap: var(--spacing-1);
            width: 180px;
    height: 385px;
          }
          .card_club img {
            width: 180px;
    height: 123px;
    flex-shrink: 0;
          }
          .card_club {
position: relative;
          }
          .link_arrow {
            position: absolute;
            bottom: 10px;
          }
    }
    @media all and (width < 650px) {
        .page_content {
            max-width: var(--page-width-xsmall);
            width: 100%;
        }
        .page_section {
        
            padding-left: 40px;
        }
        .hero_title {
            width: 300px;
        }
        .hero_buttons{
            width: 90%;
        }
             .brands {
                margin-left: -20px;
             }
             .hero p {
              padding-left: 0px;
              width: 350px
              ;
             }
        .rage_section_light {
               height: 870px;
          }
          .features_grid_4{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            max-width: min-content;
        }
           .img_nero {
           position: static;
           order: -1;  
           display: none;
           }
           .img_back{
               opacity: 0.1;
           }
           .meatures_section article{
               display: flex;
           padding-top: 40px;
           align-items:start;
          margin-right: 900px;
           gap: var(--spacing-1);
                 width: 300px;
           z-index: 2;
           }  
            .meatures_grid_4 {
           grid-template-columns: 1fr;
           width: 100%;
           }
           
          .meatures_grid {
           display: grid;
           grid-template-columns: 2fr;
           grid-template-rows: repeat(3, 1fr);
                z-index: 2;
              left: 60px;
           width: 100%;
           top: 230px;
           position: absolute;
             } 
   
           .meat_card {
               width: 300px;
           }
           
           .meatures_grid_4 {
              display: flex;
               gap: var(--spacing-3);
              
           }
              
           .meatures_grid_4 > .meat_card{
           width: 142px;
           }
          
           .content_description {
               position: relative;
              top:70px;
                  left: 100px;
                              
         text-align: justify;
           gap: var(--spacing-4);
           max-width: 390px;
            padding-bottom: var(--spacing-9);
           }

               .nero_title {
               font-size:var(--spacing-3);
               font-weight: 700;
               line-height: 150%; /* 42px */
               letter-spacing: -0.3px;
               
               }
           
           .nero_title {
               font-size: 18px;
   
           }
           .blog_cards {
               margin-top: 50px;
               justify-content: flex-start;
               align-items: start;
               margin-left: 50px;
           }
           .blog_cards h1 {
            
       padding-top: 50px;
       width: 300px;
           }
           .club{
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows:repeat(3, 1fr) ;
               gap: 8px;
               
             }
             .card_club{
              position: relative;
               flex-direction: column;
               gap: var(--spacing-1);
               min-width: 300px;
       height: 390px;
             }
             .card_club img {
               width: 300px;
       height: 208px;
       flex-shrink: 0;
       }
        .link_arrow{
           position: absolute;
           bottom: 7px;
       }
       }
       @media all and (width < 400px) {
        .page {
            justify-self: start;
            
        }
        .page_content {
            max-width: var(--page-width-xsmall);
           

        }
        
        .features_grid_4{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            max-width: min-content;
         }
          
           .hero_title {
            width: 250px;
        }
        .hero p {
            padding-left: 0px;
            width: 300px;
        }
           .hero_buttons {
               display: grid;
             grid-template-columns: 1fr;   
             gap: var(--spacing-2);
            width: 80%;
       }
       .brands {
        width: 300px;
       }
             .content_description {
                       text-align: justify;
                       font-size: small;
               width: 300px;
                margin-bottom: var(--spacing-9);
               } 
               .features_section {
                width: 300px;
                               }
               .features_section p {
                padding-left: 0px;
               }
               .meatures_section  {
               max-width: 200px;
               width: 100%;
               padding-left: 30px;
               margin-right: 100px;
               }
               .meatures_grid_4 {
           grid-template-columns: 1fr;
           width: 100%;
           }
   }
}






