@import "/css/var.css";

/*========================*/
.page {
  padding: 0 15px;
  display: flex;
  justify-content: center;
  background: #111827;
}
.page_content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  gap: var(--gap-6);
  flex-shrink: 0;
  color: var(--color-white);
}

.header {
  display: flex;
  padding-top: var(--space-l) 0;
 justify-content: space-between;
  flex-direction: column;

}
.header > *:not(:last-child) {
  padding:var(--space-l);
}
.header_logo {
  display: flex;
  padding-top: var(--size-m);
  justify-content: space-between;
   align-self: stretch;
   border-bottom:var(--bord) ;
}
.logo_l{
  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: var(--size-min);
  border-radius: var(--size-min);
  background: var(--Accent-Accent);
}
.next{
  display: flex;
  padding-top: var(--size-m);
  justify-content: space-between;
   align-self: stretch;
   margin-top: var(--size-s);
}
 .ad {
  display: flex;
  font-size: var(--size-s);
  font-weight: var(--weight-r);
  line-height: 100%;
  
 
 }
 .ad_u {
  color: var(--Accent-Accent);
  text-decoration: none;
  border-radius: 4px;
  padding: 2px 6px;
background: rgba(136, 95, 251, 0.20);
margin-right: 6px;
 }
 .ad_u:hover {
  border: 4px dotted navy;
  color: #dba510;
  transition: 1s border linear;
}

 .ad_u:focus {
    box-shadow: inset 0 2px 0 2px royalblue;
    top: 10px;
}

 .userOnline {
font-family: Roboto;
font-size: var(--size-s);
font-weight: var(--weight-f);
line-height: 100%;
}

 .userOnline strong {
font-size: 18px;
padding: 5px;
border: 3px solid royalblue;
box-shadow: 2px 2px 7px 0 slateblue;
border-radius: 50%;
 }
 
.hero_title{
  color: var(--color-white);
  text-align: center;
  font-size: var(--space-b);
  font-weight: var(--weight-r);
  line-height: 100%;

}
.hero_text{
  color:  var(--Main-Additional-Font);
  text-align: center;
  
  font-size: var(--space-xm);
  font-style: normal;
  font-weight: var(--weight-f);
  line-height: 150%;
  padding-top: 20px;
}
.hero {
  display: flex;
  height: 300px;
  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  border-radius: 24px;
  background: linear-gradient(90deg, #4e3f92,  #111827);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    
}
.button{
  display: flex;
  width: 150px;
  padding: 12px 19px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: var(--size-min);
  background: var(--Accent-Accent);
  text-decoration: none;
  display: inline-block;
  font-size: var(--space-xm);
  color: var(--color-white);
  font-weight: var(--weight-r);
  line-height: 100%;
}
 
.button:hover {
  background-color: #6f5f9b;
  color: #dba510;
   transition: 1s linear;
}
.articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: var(--space-xm);

 }
.articles h1 {
  color: var(--color-white);
font-family: Roboto;
font-size: 32px;
font-weight: var(--weight-r);
line-height: 100%;
vertical-align: baseline;
}
.articles button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--size-min);
border: 1px solid var(--Main-Additional-Font);
color: var(--color-white);
font-size: var(--space-xm);
font-weight: var(--weight-r);
line-height: 100%;
}
.articles button:hover {
    box-shadow: 2px 2px 5px 1px rgb(177, 177, 184);
}
article{
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xm);
  align-self: stretch;
  border-radius: 24px;
  background: rgba(42, 49, 65, 0.44);
  backdrop-filter: blur(25px);
  }
  article h1{
    color: var(--color-white);
    font-family: Roboto;
  font-size: 24px;
  font-weight: var(--weight-r);
  line-height: 100%;
  }
  article p{
    color: var(--Main-Additional-Font);
font-size: var(--size-s);
  font-style: normal;
  font-weight: var(--weight-f);
  line-height: 170%;
  }
 .main{
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
   gap: var(--space-b); */
   gap: var(--space-xm);
  
  }

 .loremm{
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
   gap: var(--space-b); */
   display: flex;
   align-items: flex-start;
   text-align: center;
   gap: var(--space-xm);
    max-width: 1000px;
    height: 100%;
    padding-bottom: 0%;

 
  /* padding: var(--space-b);
  border-bottom: 1px solid var(--color-border); */
        }
    @media all and (width <= 690px) {
          .loremm {
            display: grid;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
              }
            }
         
      @media all and (min-width:691px) and (max-width: 920px) {
        .loremm {
          grid-template-columns: repeat(2, 1fr);
          display: grid;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
        }
      }

       @media all and (min-width:921px) and (max-width: 1024px) {
        .loremm {
          grid-template-columns: 1fr;
        }
        
      }
    /* @media all and (not (min-width: 800px)) {
      .page_content {
        background-color: rgb(147, 82, 211);
      }
    } */
    .lorem{
      flex-direction: column;
      width: fit-content;
      gap:16px;
  
    }
img{
height: 200px;
width: 320px;
border-radius: var(--size-min);
padding-bottom: var( --space-xm);
}

.card_title{
  font-size: 18px;
  font-weight: var(--weight-title);
  color: var(--color-white);
  font-weight: var(--weight-r);
line-height: 100%;
padding-bottom: var( --space-xm);
}

.card_text{
  font-weight: var(--weight-title);
   color: var(--Main-Additional-Font);
font-size: var(--size-s);
font-weight: var(--weight-f);
line-height: 150%;
text-align: justify;
padding-bottom: var( --space-xm);
}
.lorem span {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--size-min);
background:  var(--Accent-Accent);
width:fit-content;
margin-bottom: 0px;
}

.lorem span:hover {
opacity: 0.75;
font-size: 20px;
}

.nav {
  display: flex;
  padding: 12px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  }
  
  .nav_inline {
    gap: var(--space-l);
    justify-content: end;
  }
  
  .nav_link {
    text-decoration: none;
    color: var(--color-white);
    font-family: Roboto;
    font-size: var(--space-xm);
    font-weight: var(--weight-f);
    line-height: 100%;
    padding-inline: 8px;
  }
  .nav_link:hover {
    text-decoration: underline;
    color: orange;
  }
  
    .footer {
    /* padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    width: 100%; */
  display: flex;
 justify-content: space-between;
align-items: flex-start;
align-self: stretch;
display: flex;
padding-bottom: 32px;
gap: var( --space-xm);
align-self: stretch;
  }
  
  .foot{width: 50%;}
  .footer_copyright {
    color: var(--Main-Additional-Font);
font-family: Roboto;
font-size: var(--space-xm);
font-style: normal;
font-weight: var(--weight-f);
line-height: 100%;
  }
  
