.page{
    display: 960px;
    margin: 0 15px;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    }
    .page_content {
        max-width: 960px;
        margin: 0 auto;
    }
    
    .header{
        padding: 25px;
    }
    .header_logo{
    size:28px;
    }
    
    .divider{
        margin: 0;
        height: 1px;
        background-color: #DEE2E6;
    }
    
    .nav{
    display: block;
    }
    
    .nav_link{
    color: #343A40;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .nav_link:hover{
    text-decoration: underline;
    color: aqua;
    }
    .nav_vertical > .nav_link{
    display: block;
    }
    .nav_vertical > .nav_link:not(:last-child){
    margin-bottom: 24px;
    }
    .nav_inline > .nav_link:not(:last-child){
    margin-right: 24px;
    }
    .header_nav_right{
        margin-left: auto;
        width: fit-content;
    }
    .page_block:not(:last-child){
        margin-bottom: 80px;
    }
    .footer{
        padding: 24px 0;
    }
    .footer_copyright{
        color: #6C757D;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:12px;
    display: block;
    }
    .footer_title{
        color: #212529;
    
        font-family: Roboto;
        font-size: 20px;
        display: block;
        margin-bottom: 12px;
    }
    .hero_title{
        color: #fff;
    

    font-family: Roboto;
    font-size: 56px;
    font-weight: 500;
    margin: 12px;
    }
    .hero_text{
        color: #fff;
   
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    max-width: 585px;
  
    }
    .hero {
        border-radius: 24px;
background: #343A40;
padding: 80px;
    }
    .button{
        text-decoration: none;
        color: #fff;
        display: inline-block;
        border-radius: 4.8px;
        border: 1px solid #007BFF;
        
        background: #007BFF;
        font-size: 16px;
        padding: 10px 20px;
        max-width: 248px;
        width: 100%;
        text-align: center;
    }
    .button:hover{
        background: #3892f1;
    }
    .preview{
        border-radius: 24px;
border: 1px solid #DEE2E6;
padding:24px;
box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);

    }
    .preview_header > span:not(:last-of-type){
        margin-right: 12px;
    }
    .preview_data{
        color: #6C757D;
        font-size: 16px;
    }
    .preview_category_1{
        color: #007BFF;
        font-size: 16px;
    }
    .preview_category_2{
        font-size: 16px;
        color: #F00;
    }
    .preview_category_3{
        font-size: 16px;
        color: #198754;
    }
    .preview_category_4{
        font-size: 16px;
        color: #FF7A00;
    }

    
 
    .preview > *:not(:last-child){
        margin-bottom:12px;
    }
    .preview_title{
        display: block;
        color: #343A40;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 33.6px;
    }
    .preview_description{
        align-self: stretch;
        color: #212529;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    .preview_header a{
        color: #007BFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;
    }
   .list_tile{font-size: 32px;

font-weight: 500;
color: #212529;
margin: 0px;
   }
   .list_header{
    padding-bottom: 12px;
    border-bottom: 1px solid #DEE2E6;
    margin-bottom: 40px;
   }
   .categories_button{
    color: #6C757D;

text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;
padding: 10px 16px;
border-radius: 32px;
border: 1px solid #6C757D;
line-height: 100%;
opacity: 0.65;
   }
   .categories_button:hover{
    background: #d4d9db;
   }
   .list{
    margin-bottom: 40px;
   }
   .list_aside{
    margin-left: 40px ;
    padding: 24px;


   }
   .list_aside >*:not(:last-child){
    margin-bottom: 24px ;
   }
   .categiry_list{
    text-align: right;
   }
   .list > *:not(:last-child){
    margin-bottom: 40px ;
   }
   .post{
    padding-bottom: 12px;
border-bottom: 1px solid #DEE2E6;
   }
   .post > *:not(:last-child){
    margin-bottom: 12px;
   }
   .post strong{
display: block;
color: #212529;

font-size: 27px;
font-style: normal;
font-weight: 500;
   }
   .post span{
    color: #0050FF;
   }
   .post div{
    color: #999;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
   }
   .post p{
    align-self: stretch;

color: #212529;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;

   }
   .about h4{
    color: #212529;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
   }
   .about p{
    color: #212529;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
   }
   .link_list{
    padding: 24px;
   }
   .link_list > *:not(:last-child){
    margin-bottom: 12px;
   }
   .link_title{
   display: block;
color: #212529;
font-size: 24px;
font-style: normal;
font-weight: 500;
   }
   .link_item{
    color: #007BFF;
   font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: block;
   }
   .link_item:hover{
    text-decoration: underline;
   }
   .about {
    background: #F8F9FA;
    padding: 24px;
   }
