:root{
    font-family: Roboto;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;
    --size-min: 10px;
    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --gap-6: 60px;

   --color-border: #DEE2E6; 
   --bord: 1px solid #253041;


   
   --bg_color-primary:rgb(38, 38, 221);
   --Main-Additional-Font: #9CA3AF;
   --Accent-Accent: #885FFB;
   --color-white: #fff;
   --border-radius: 12px;
   --color_title: #212529;
   --color-text: #6C757D; 
   --weight-title: 500;
   --weight-r: 700;
   --weight-f: 400;
}